// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../vendor/ionic/fonts" !default;

// Include all of Ionic
@import "www/vendor/ionic/scss/ionic";
@import "./base/*";
@import "./theme/*";
@import "./functions/*";
@import "./modules/*";


