<div class="list card">
    <article-detail article="article"></article-detail>

    <div class="item item-body" ui-sref="app.article({id: article.ID, articles: articles})">
        <img class="full-image" ng-src="{{article.featured_image.guid}}">
        <h2 class="title" ng-bind-html="article.title"></h2>
        <div class="content" ng-bind-html="article.content | words:wordLimit"></div>
    </div>
    <div class="item continue-reading">
       <a ui-sref="app.article({id: article.ID, articles: articles})">Continue reading</a>
    </div>
</div>