<ion-slide-box show-pager="false">
    <ion-slide ng-if="(articles.length === 0)">
        <article-full article="article"></article-full>
    </ion-slide>
    <ion-slide ng-repeat="article in viewableArticles" dynamic-slides="viewableArticles">
        <article-full article="article"></article-full>
    </ion-slide>
</ion-slide-box>
<ion-footer-bar class="bar-light">
    <button class="button button-clear" ng-click="goBack()"><i class="ion-chevron-left"></i></button>
    <button class="button button-clear" ng-click="nextSlide()" ng-disabled="false">next</button>
</ion-footer-bar>