<ion-slide-box show-pager="false" delegate-handle="article-viewer" on-slide-changed="updateSlideAvailability()">
    <ion-slide ng-if="(articles.length === 0)">
        <article-full article="article"></article-full>
    </ion-slide>
    <ion-slide ng-repeat="article in viewableArticles" dynamic-slides="viewableArticles">
        <article-full article="article"></article-full>
    </ion-slide>
</ion-slide-box>
<ion-footer-bar class="bar-light">
    <button class="button button-clear back" ng-click="goBack()"><i class="ion-chevron-left"></i></button>
    <button class="button button-clear next" ng-click="nextSlide()" ng-disabled="!isSlideAvailable">next</button>
</ion-footer-bar>