<ion-pane>
    <ion-side-menus>
        <!-- Left menu -->
        <ion-side-menu side="left">
            <ion-list>
                <ion-item ui-sref="app.latest" ng-click="toggleMenu()">Latest</ion-item>
                <ion-item ng-repeat="category in categories" ui-sref="app.category({id: category.ID})" ng-click="toggleMenu()">{{category.name}}</ion-item>
            </ion-list>
        </ion-side-menu>

        <ion-side-menu-content>
            <ion-nav-bar class="bar-dark">
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                    </button>
                </ion-nav-buttons>
                <ion-nav-back-button></ion-nav-back-button>
            </ion-nav-bar>
            <ion-nav-view name="content"></ion-nav-view>
        </ion-side-menu-content>
    </ion-side-menus>
</ion-pane>