article-stub {

  .list.card {
	border-top: 1px solid $grey--light;
	border-bottom: 1px solid  $grey--light;
	margin-left: 0;
	margin-right: 0;
	box-shadow: none;

	&:first-of-type {
	  border-top: 0;
	  margin-top: 0;
	}

	&:last-of-type {
	  border-bottom: 0;
	}
  }

  .item-body {
	border: 0;
	padding: 0;

	.item-body__content {
	  padding: 0 3%;
	}
  }
}