{
  "name": "wpApi.config",
  "constants": {
		"wpApi": {
			"baseUrl": "{BaseURL}",
			"category": {
				"endpoint": "terms/category"
			},
            "tag": {
                "endpoint": "terms/tag"
            },
            "post": {
                "endpoint": "posts"
            }
		}
	}
}