{
  "name": "wpApi.config",
  "constants": {
		"wpApi": {
			"baseUrl": "{BaseURL}/wp-json/",
			"category": {
				"endpoint": "taxonomies/category/terms"
			},
            "tag": {
                "endpoint": "taxonomies/post_tag/terms"
            },
            "post": {
                "endpoint": "posts"
            }
		}
	}
}